<launch>
    <include file="$(find scout_base)/launch/scout_base.launch" >
        <arg name="port_name" default="can0" />
        <arg name="simulated_robot" default="false" />
    </include>
    <node pkg="scout_bringup" name="velocity_publisher" type="velocity_publisher.py" output="screen">
    </node>
</launch>
